body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'HiddenCocktails';
  src: url('./src/fonts/hidden-cocktails-font/Hiddencocktails-YzOav.ttf') format('truetype');
}
